<app-modal (close)="bsModalRef.hide()">
  <span title>{{ "meet-in-class.modals.2.title" | transloco }}</span>
  <span icons>
    <img class="first" src="/assets/techs/Illustrator.png" />
    <img src="/assets/techs/Photoshop.png" />
  </span>
  <span body>
    <div>
      {{ "meet-in-class.modals.2.block1.text1" | transloco }}
      <span class="modal-separator"></span>
      {{ "meet-in-class.modals.2.block1.text2" | transloco }}
      <span class="modal-space space-40"></span>
      <p class="modal-block-title">
        {{ "meet-in-class.modals.2.block1.title" | transloco }}
      </p>
      <span class="modal-space space-40"></span>
      <img
        class="modal-img"
        style="width: 100%"
        src="/assets/meetinclass/RS-planning.png"
      />
      <span class="modal-space space-40"></span>
      <p class="modal-block-title">
        {{ "meet-in-class.modals.2.block2.title" | transloco }}
      </p>
      <span class="modal-space space-40"></span>
      {{ "meet-in-class.modals.2.block2.text1" | transloco }}
      <span class="modal-separator"></span>
      {{ "meet-in-class.modals.2.block2.text2" | transloco }}
      <span class="modal-space space-40"></span>

      <div class="row align-items-center">
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/RS-blog-1.png"
          />
        </div>
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/RS-blog-2.png"
          />
        </div>
      </div>
      <span class="modal-space space-40"></span>
      <div class="row align-items-center">
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/RS-blog-3.png"
          />
        </div>
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/RS-blog-4.png"
          />
        </div>
      </div>
      <span class="modal-space space-40"></span>
      <p class="modal-block-title">
        {{ "meet-in-class.modals.2.block3.title" | transloco }}
      </p>
      <span class="modal-space space-40"></span>
      {{ "meet-in-class.modals.2.block3.text" | transloco }}

      <span class="modal-space space-40"></span>
      <p class="modal-block-title">
        {{ "meet-in-class.modals.2.block4.title" | transloco }}
      </p>
      <span class="modal-space space-40"></span>
      {{ "meet-in-class.modals.2.block4.text" | transloco }}

      <span class="modal-space space-40"></span>
      <div class="row align-items-center">
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/FB-1.png"
          />
        </div>
        <div class="col col-6">
          <img
            class="modal-img"
            style="width: 100%"
            src="/assets/meetinclass/FB-2.png"
          />
        </div>
      </div>
    </div>
  </span>
</app-modal>
