<app-img-background url="/assets/backgrounds/next.png">
  <app-top-bar></app-top-bar>
  <app-tabs-menu selected="next"></app-tabs-menu>
  <app-main-layout>
    <app-card>
      <p class="title">{{ "next.title" | transloco }}</p>
      <span class="space"></span>
      <div class="text">
        <p [innerHTML]="'next.block.text1' | transloco"></p>
        <div class="space-10"></div>
        <p [innerHTML]="'next.block.text2' | transloco"></p>
        <div class="space-10"></div>
        <p [innerHTML]="'next.block.text3' | transloco"></p>
      </div>
      <span class="space"></span>
      <p class="subtitle">
        {{ "next.subtitle" | transloco }}
      </p>
      <div class="space-10"></div>
      <p>{{ "next.contact1" | transloco }}</p>
      <p>{{ "next.contact2" | transloco }}</p>
    </app-card>
  </app-main-layout>
</app-img-background>
