<app-modal (close)="bsModalRef.hide()">
  <span title>{{ "mobibam.modals.1.title" | transloco }}</span>
  <span icons>
    <img class="first" src="/assets/techs/Illustrator.png" />
    <img src="/assets/techs/Photoshop.png" />
    <img src="/assets/techs/Indesign.png" />
  </span>
  <span body>
    <div>
      {{ "mobibam.modals.1.block.text1" | transloco }}
      <span class="modal-space"></span>
      <div class="mb-3">
        <div class="row align-items-start">
          <div class="col">
            <img
              class="modal-img img-half"
              src="/assets/mobibam/picture1.png"
            />
          </div>
          <div class="col">
            <img
              class="modal-img img-half"
              src="/assets/mobibam/picture2.png"
            />
          </div>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col">
          {{ "mobibam.modals.1.block.text2" | transloco }}
        </div>
        <div class="col">
          {{ "mobibam.modals.1.block.text3" | transloco }}
        </div>
      </div>
      <span class="modal-space"></span>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <img
              class="modal-img img-half medium"
              src="/assets/mobibam/picture3.png"
            />
          </div>
          <div class="col">
            <img
              class="modal-img img-half medium"
              src="/assets/mobibam/picture4.png"
            />
          </div>
          <div class="col">
            <img
              class="modal-img img-half medium"
              src="/assets/mobibam/picture5.png"
            />
          </div>
          <div class="col">
            <img
              class="modal-img img-half medium"
              src="/assets/mobibam/picture6.png"
            />
          </div>
        </div>
      </div>
      <span class="modal-space"></span>
      {{ "mobibam.modals.1.block.text4" | transloco }}
      <span class="modal-separator separator-70"></span>

      <div class="mb-3">
        <div class="row align-items-start">
          <div class="col">
            <img
              class="modal-img img-half high"
              src="/assets/mobibam/flyer1.png"
            />
          </div>
          <div class="col">
            <img
              class="modal-img img-half high"
              src="/assets/mobibam/flyer2.png"
            />
          </div>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col">
          {{ "mobibam.modals.1.block.text5" | transloco }}
        </div>
        <div class="col">
          {{ "mobibam.modals.1.block.text6" | transloco }}
        </div>
      </div>
    </div>
  </span>
</app-modal>
