<app-top-bar></app-top-bar>
<app-tabs-menu selected="about"></app-tabs-menu>
<app-main-layout>
  <app-card>
    <div class="row">
      <div class="col-auto me-auto">
        <p class="title">{{ "about.title" | transloco }}</p>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="card-button-action download"
          (click)="downloadCV()"
        >
          <mat-icon style="color: #d28c71" fontIcon="download"></mat-icon>
          <span>{{ "about.download" | transloco }}</span>
        </button>
      </div>
    </div>

    <span class="space"></span>
    <p class="subtitle">
      {{ "about.block1.subtitle" | transloco }}
    </p>
    <div class="text">
      <p [innerHTML]="'about.block1.text1' | transloco"></p>
      <div class="space-10"></div>
      <p [innerHTML]="'about.block1.text2' | transloco"></p>
      <div class="space-10"></div>
      <p [innerHTML]="'about.block1.text3' | transloco"></p>
      <div class="space-10"></div>
      <p [innerHTML]="'about.block1.text4' | transloco"></p>
    </div>
    <span class="space"></span>
    <p class="subtitle">
      {{ "about.block2.subtitle" | transloco }}
    </p>
    <div class="text">
      <p [innerHTML]="'about.block1.text1' | transloco"></p>
      <div class="space-10"></div>
      <p [innerHTML]="'about.block1.text2' | transloco"></p>
      <div class="space-10"></div>
      <p [innerHTML]="'about.block1.text3' | transloco"></p>
    </div>
  </app-card>
</app-main-layout>
