<app-img-background url="/assets/backgrounds/australia.png">
  <app-top-bar></app-top-bar>
  <app-tabs-menu selected="australia"></app-tabs-menu>
  <app-main-layout>
    <app-card>
      <p class="title">{{ "australia.title" | transloco }}</p>
      <p class="title-small">{{ "australia.smallTitle" | transloco }}</p>
      <span class="space"></span>
      <div class="text">
        <p [innerHTML]="'australia.block1.text1' | transloco"></p>
        <div class="space-10"></div>
        <p [innerHTML]="'australia.block1.text2' | transloco"></p>
        <div class="space-10"></div>
        <p [innerHTML]="'australia.block1.text3' | transloco"></p>
        <div class="space-10"></div>
        <p [innerHTML]="'australia.block1.text4' | transloco"></p>
      </div>
      <span class="space"></span>
      <p class="subtitle">
        {{ "australia.block2.subtitle" | transloco }}
      </p>
      <div class="space-10"></div>

      <div class="container text-left">
        <div class="row align-items-start">
          <div class="col ps-0">
            <p class="boldtitle">
              {{ "australia.block2.boldTitle" | transloco }}
            </p>
            <ul class="ps-3">
              <li [innerHTML]="'australia.block2.list.0' | transloco"></li>
              <li [innerHTML]="'australia.block2.list.1' | transloco"></li>
              <li [innerHTML]="'australia.block2.list.2' | transloco"></li>
              <li [innerHTML]="'australia.block2.list.3' | transloco"></li>
            </ul>
          </div>
          <div class="col">
            <p class="boldtitle">
              {{ "australia.block3.boldTitle" | transloco }}
            </p>
            <ul class="ps-3">
              <li [innerHTML]="'australia.block3.list.0' | transloco"></li>
              <li [innerHTML]="'australia.block3.list.1' | transloco"></li>
              <li [innerHTML]="'australia.block3.list.2' | transloco"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="space-30"></div>

      <p class="boldtitle">
        {{ "australia.block4.boldTitle" | transloco }}
      </p>

      <ul>
        <li [innerHTML]="'australia.block4.list.0' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.1' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.2' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.3' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.4' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.5' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.6' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.7' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.8' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.9' | transloco"></li>
        <li [innerHTML]="'australia.block4.list.10' | transloco"></li>
      </ul>
    </app-card>
  </app-main-layout>
</app-img-background>
