<div class="home-page">
  <div class="home-page__middle">
    <div class="home-page__middle--lang">
      <button
        (click)="changeLanguage('fr')"
        class="lang margin"
        [class]="{ active: translocoService.getActiveLang() === 'fr' }"
      >
        <img src="/assets/flags/fr.png" />
        <span>{{ "home.fr" | transloco }}</span>
      </button>

      <button
        (click)="changeLanguage('en')"
        class="lang"
        [class]="{ active: translocoService.getActiveLang() === 'en' }"
      >
        <img src="/assets/flags/en.png" />
        <span>{{ "home.en" | transloco }}</span>
      </button>
    </div>

    <div class="home-page__middle--title">SOPHIE POTIER</div>
    <div class="home-page__middle--profession">PRODUCT OWNER</div>
    <div class="home-page__middle--sub">
      {{ "home.description" | transloco }}
    </div>

    <div class="home-page__middle--discover">
      <button class="icon active" [routerLink]="'/about'">
        <mat-icon style="color: white" fontIcon="play_arrow"></mat-icon>
        <span>{{ "home.btn" | transloco }}</span>
      </button>
    </div>
  </div>
</div>
