<div class="home-page">
  <div class="home-page__middle">
    <div class="home-page__middle--lang">
      <button class="lang margin active">
        <img src="/assets/flags/fr.png" />
        <span>Français</span>
      </button>

      <button class="lang">
        <img src="/assets/flags/en.png" />
        <span>English</span>
      </button>
    </div>

    <div class="home-page__middle--title">SOPHIE POTIER</div>
    <div class="home-page__middle--profession">PRODUCT OWNER</div>
    <div class="home-page__middle--sub">Empathie / Team work / Agilité</div>

    <div class="home-page__middle--discover">
      <button class="icon active">
        <mat-icon style="color: white" fontIcon="play_arrow"></mat-icon>
        <span>Découvrir</span>
      </button>
    </div>
  </div>
</div>
