<div class="top-bar">
  <div class="row justify-content-between">
    <div class="col-9">
      <p class="top-bar__name">SOPHIE POTIER</p>
      <p class="top-bar__profession">Product Owner</p>
    </div>
    <div class="col-3">
      <div class="top-bar__lang">
        <img
          (click)="changeLanguage('fr')"
          src="/assets/flags/fr.png"
          style="margin-right: 10px"
        />
        <img (click)="changeLanguage('en')" src="/assets/flags/en.png" />
      </div>
    </div>
  </div>
</div>
