<app-modal (close)="bsModalRef.hide()">
  <span title>{{ "meet-in-class.modals.0.title" | transloco }}</span>
  <span icons>
    <img class="first" src="/assets/techs/XD.png" />
  </span>
  <span body>
    <div>
      <p class="modal-block-title">
        {{ "meet-in-class.modals.0.block1.title" | transloco }}
      </p>
      <span class="modal-space space-40"></span>
      {{ "meet-in-class.modals.0.block1.text" | transloco }}
      <span class="modal-space space-30"></span>
      <div class="mb-3">
        <div class="row align-items-start">
          <div class="col">
            <p class="modal-block-title">
              {{ "meet-in-class.modals.0.block2.title" | transloco }}
            </p>
            <span class="modal-space space-12"></span>
            <ul style="margin-left: 15px">
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block2.list.0" | transloco }}
              </li>
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block2.list.1" | transloco }}
              </li>
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block2.list.2" | transloco }}
              </li>
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block2.list.3" | transloco }}
              </li>
            </ul>
          </div>
          <div class="col">
            <p class="modal-block-title">
              {{ "meet-in-class.modals.0.block3.title" | transloco }}
            </p>
            <span class="modal-space space-12"></span>
            <ul style="margin-left: 15px">
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block3.list.0" | transloco }}
              </li>
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block3.list.1" | transloco }}
              </li>
              <li class="ps-0">
                {{ "meet-in-class.modals.0.block3.list.2" | transloco }}
              </li>
            </ul>
          </div>
        </div>
        <span class="modal-space space-40"></span>
        <div class="row align-items-start">
          <div class="col">
            <img
              class="modal-img"
              style="max-height: 822px; width: auto"
              src="/assets/meetinclass/site-web.png"
            />
          </div>
          <div class="col">
            <span class="modal-space space-70"></span>
            <span class="modal-space space-70"></span>
            <p class="modal-block-title">
              {{ "meet-in-class.modals.0.block4.title" | transloco }}
            </p>
            <span class="modal-space space-12"></span>
            {{ "meet-in-class.modals.0.block4.text1" | transloco }}
            <span class="modal-separator"></span>
            {{ "meet-in-class.modals.0.block4.text2" | transloco }}
            <span class="modal-separator"></span>
            {{ "meet-in-class.modals.0.block4.text3" | transloco }}
            <span class="modal-separator"></span>
            {{ "meet-in-class.modals.0.block4.text4" | transloco }}
            <span class="modal-separator"></span>
            {{ "meet-in-class.modals.0.block4.text5" | transloco }}
            <span class="modal-separator"></span>
            {{ "meet-in-class.modals.0.block4.text6" | transloco }}
          </div>
        </div>
      </div>
    </div>
  </span>
</app-modal>
